* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial';
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

header {
    height: 90vh;
    width: 100%;
    background-image: url(images/espèces/nomais.png);
    background-size: cover;
    margin-bottom: 20px;
}

/*Navigation*/

.menu {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s linear;
}

.menu a { 
    color : #AACFF3;
}

.menu a:hover {
    color: white;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 30px;
}

/*Logo OW*/
.logo {
    margin-left: 1550px;
    margin-top: 75px;
	height: 120px;
}

.logo:hover {
    opacity: 0.6;
}

/*Nomai*/

.nomai img {
    border-radius: 60px;
    width: 15%;
    height: auto;
    margin-left: 200px;
    margin-top: -580px;
}


/*Tableau Comparatif*/

.tableau {
    max-width: 800px;
    margin-left: 580px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}

/*Atrien*/


.atrien img {
    border-radius: 60px;
    width: 13%;
    height: auto;
    margin-left: 1480px;
    margin-top: -430px;
}
