* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial';
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

}

header {
    height: 90vh;
    width: 100%;
    background-image: url(images/odyssée/programme.png);
    background-size: cover;
    margin-bottom: 20px;
}

/*Navigation*/

.menu {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s linear;
}

.menu a { 
    color : #AACFF3;
}

.menu a:hover {
    color: white;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 30px;
}


/*Logo OW*/
.logo {
    margin-left: 1550px;
    margin-top: 75px;
	height: 120px;
}

.logo:hover {
    opacity: 0.6;
}

/*Photo Style polaroid*/
.polaroid {
    width: 300px;
    padding: 20px;
    background: #d4d1d1;
    border-radius: 10px;
    margin-left: 400px;
}
  
.polaroid img {
    width: 100%;
    height: auto;
    display: block;
}
  
.polaroid p {
    margin-top: 10px;
    font-family: Arial;
    font-size: 14px;
    color: #000;
}

/*Programme odyssée*/

.texte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 40em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.texte {
    margin-left: 800px;
    margin-top: -270px;
}

/*Titre*/

.titre {
    text-align: center;
    margin-top: 150px;
    transition: transform 1s ease-in-out;
}

.titre:hover {
    transform: translateY(-10px); 
}


/*Chail*/

.chail {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 300px;
    margin-top: 120px;
}
  
.chail img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.chailtexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.chailtexte {
    margin-top: 30px;
}

/*Riébekc*/

.riébeck {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 845px;
    margin-top: -590px;
    margin-bottom: 20px;
}
  
.riébeck img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.riébecktexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.riébecktexte  { 
    margin-top: 30px;
    margin-left: 780px;
}

/*Gabbro*/

.gabbro {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1390px;
    margin-top: -580px;
}
  
.gabbro img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;  
}

.gabbrotexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.gabbrotexte {
    margin-top: 30px;
    margin-left: 1340px;
    
}

/*Feldspar*/

.feldspar {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 580px;
    margin-top: 120px;
}
  
.feldspar img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.feldspartexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 530px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.feldspartexte {
    margin-top: 30px;
}

/*Protagoniste*/

.protagoniste {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1150px;
    margin-top: -630px;
}
  
.protagoniste img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.protagonistetexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 530px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.protagonistetexte {
    margin-top: 30px;
    margin-left: 1100px;
}