html {
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial';
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(images/outer\ wilds\ titre.png);
    background-size: cover;
}

.menu {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s linear;
}

.menu a { 
    color : #AACFF3;
}

.menu a:hover {
    color: white;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 30px;
}


.test {
    text-align: justify;
    border: 6px outset #508bff;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
}

.oui {
    margin-left: 240px;
    margin-right: auto;

}
