html {
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial';
    margin-bottom: 120px;
}

header {
    height: 90vh;
    width: 100%;
    background-image: url(images/systeme.png);
    background-size: cover;
    margin-bottom: 20px;
}


/*Navigation*/

.menu {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s linear;
}

.menu a { 
    color : #AACFF3;
}

.menu a:hover {
    color: white;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 30px;
}

/*Logo OW*/
.logo {
    margin-left: 1550px;
    margin-top: 75px;
	height: 120px;
}

.logo:hover {
    opacity: 0.6;
}

/*Partie1*/

.partie1 {
    text-align: center;
    margin-top: 80px;
    transition: transform 1s ease-in-out;
}

.partie1:hover {
    transform: translateY(-10px); 
}

/*Sablière*/

.sablière {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 300px;
}
  
.sablière img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.sablièretexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 60em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.sablièretexte {
    margin-left: 620px;
    margin-top:-225px;
}

/*Âtrebois*/

.atrebois {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1340px;
    margin-top: 40px;
}
  
.atrebois img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.atreboistexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 55em;
    color: black;
    background-color: #AACFF3;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.atreboistexte {
    margin-left: 305px;
    margin-top:-220px;
}

/*Cravité*/

.cravité {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 300px;
    margin-top: 120px;
}
  
.cravité img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.cravitétexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 60em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.cravitétexte {
    margin-left: 620px;
    margin-top:-220px;
}

/*Léviathe*/

.léviathe {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1340px;
    margin-top: 40px;
}
  
.léviathe  img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.léviathetexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 55em;
    color: black;
    background-color: #AACFF3;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.léviathetexte {
    margin-left: 305px;
    margin-top:-220px;
}

/*Sombronces*/

.sombronces {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 300px;
    margin-top: 120px;
}
  
.sombronces img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.sombroncestexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 60em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.sombroncestexte {
    margin-left: 620px;
    margin-top:-220px;
}

/*Partie2*/

.partie2 {
    text-align: center;
    margin-top: 150px;
    transition: transform 1s ease-in-out;
}

.partie2:hover {
    transform: translateY(-10px); 
}

/*Rocaille*/

.rocaille {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 300px;
    margin-top: 120px;
}
  
.rocaille img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.rocailletexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: -9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.rocailletexte {
    margin-top: 30px;
}

/*L'intrus*/

.intrus {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 845px;
    margin-top: -480px;
    margin-bottom: 20px;
}
  
.intrus img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.intrustexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.intrustexte {
    margin-top: 30px;
    margin-left: 780px;
}

/*Lune quantique*/

.lune {
    width: 280px; 
    height: 280px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1390px;
    margin-top: -550px;
}
  
.lune img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.lunetexte {
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
    margin-left: 240px;
    margin-right: auto;
    width: 24em;
    color: black;
    background-color: #AACFF3;
    box-shadow: 9px 10px 0px 0px rgba(0, 0, 0, 1);
}

.lunetexte {
    margin-top: 30px;
    margin-left: 1340px;
    
}